@if(loading){
<app-progress-bar></app-progress-bar>
}
@if(!loading) {

<div class="container">
    <div class="title">
        <h4>Lista de productos</h4>
        <button type="button" class="btn btn-dark px-4 fw-semibold" routerLink='/agregar'>+ Agregar Producto</button>
    </div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Talla</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (item of productos; track item) {
            <tr>
                <th>{{ item.nombre }}</th>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.talla }}</td>
                <td>{{ item.precio | currency }}</td>
                <td>{{ item.stock }}</td>
                <td class="nowrap">
                    <button routerLink='/editar/{{item.id}}' type="button" class="btn btn-outline-secondary btn-sm">Editar</button>
                    <button (click)="eliminarProducto(item.id!)" type="button"
                        class="btn btn-dark btn-sm ms-2">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}